@use "mixins" as *;
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding-left: var(--spacing-lg);
  padding-right: var(--spacing-lg);

  @include mobile {
    padding-left: var(--spacing-md);
    padding-right: var(--spacing-md);
  }

  &--flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &--full {
    padding-left: 0;
    padding-right: 0;
  }
}
