@use "mixins" as *;

.promo {
  &__picture {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
